In [1]:
import pandas as pd

# Merge all standardized citites

In [2]:
cities = ['atlanta', 'austin', 'baltimore', 'boston', 'chicago', 'cincinnati',
          'dallas', 'detroit', 'fort_worth', 'los_angeles', 'new_york_city',
          'philadelphia', 'phoenix', 'san_francisco', 'seattle', 'washington_dc', 
          'milwaukee', 'portland', 'denver', 'houston', 'nashville', 
          'louisville', 'kansas_city', 'raleigh', 'buffalo', 'virginia_beach', 'little_rock']

In [8]:
final = pd.DataFrame()
for city in cities: 
    tmp = pd.read_csv('standardized/standardized_incidents_' + city + '.csv', index_col=None, dtype=str)
    print(city, len(tmp))
    final = pd.concat([final, tmp])

atlanta 85337
austin 152892
baltimore 101253
boston 88936
chicago 516614
cincinnati 63966
dallas 170799
detroit 160386
fort_worth 63955
los_angeles 454458
new_york_city 652750
philadelphia 266533
phoenix 148006
san_francisco 214004
seattle 152195
washington_dc 74270
milwaukee 76682
portland 126745
denver 94579
houston 404456
nashville 160822
louisville 143457
kansas_city 177585
raleigh 68199
buffalo 31283
virginia_beach 48036
little_rock 33900

In [12]:
final = final[(final['std_date'] >= '2018-01-01') & (final['std_date'] <= '2020-03-15')]

In [13]:
print("Final Shape:", final.shape)
final.to_csv('final/final_incidents_2021-05-28.csv', index=False)

Final Shape: (4732098, 5)

In [14]:
final.head()

     std_date     city category_1 category_2       category_3
0  2018-01-01  Atlanta   Property      Theft  Theft from Auto
1  2018-01-01  Atlanta   Property      Theft  Theft from Auto
2  2018-01-01  Atlanta   Property      Theft  Theft from Auto
3  2018-01-01  Atlanta   Property      Theft  Theft from Auto
4  2018-01-01  Atlanta   Property      Theft  Theft from Auto